{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
 <h3 class="text-white my-5">About Page</h3> 
 <h3>Hey there ..! I am Nitesh Choubey</h3>
 <p>I have created this blog project for learning purpose. You can also register as Author and share your article here to help community.
     In case you want to delete your blog please contact . <br>
      <a href="mailto:{{niteshchoubey43c}}"><input type="submit" class="btn btn-primary btn-sm" value="Email"></a> 
 </p>
</div>

{% endblock content %}

